<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.IplogMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.Iplog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
    <result column="userType" property="userType" jdbcType="TINYINT" />
    <result column="loginTime" property="loginTime" jdbcType="TIMESTAMP" />
  </resultMap>
 
  <insert id="insert" parameterType="com.xmg.p2p.base.domain.Iplog" useGeneratedKeys="true" keyProperty="id" >
    insert into iplog 
    		(ip, state, userName,loginTime,userType)
    values (#{ip,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{userName,jdbcType=VARCHAR}, 
     		 #{loginTime,jdbcType=TIMESTAMP},#{userType,jdbcType=TINYINT})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.xmg.p2p.base.domain.Iplog" >
    update iplog
    set ip = #{ip,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      userName = #{username,jdbcType=VARCHAR},
      loginTime = #{logintime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <sql id="base_cloumn">id,state,ip,userName,loginTime,userType</sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select  <include refid="base_cloumn"/>
    from iplog
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <sql id="base_where">
  	<where>
  		<if test="beginDate!=null">
  			and loginTime &gt;=#{beginDate}
  		</if>
  		<if test="endDate!=null">
  			and loginTime &lt;=#{endDate}
  		</if>
  		<if test="username!=null">
  			and username=#{username}
  		</if>
  		
  		<if test="state>-1">
  			and state=#{state}
  		</if>
  		<if test="userType>-1">
  			AND  userType = #{userType}
  		</if>
  	</where>
  </sql>
  
  <select id="getCount"  resultType="int">
    select  count(id)  from iplog
   <include refid="base_where"/>
  </select>
  
  <select id="queryList" resultMap="BaseResultMap">
  	select <include refid="base_cloumn"/>
  	from iplog
  	<include refid="base_where"/>
  	ORDER BY loginTime DESC 
  	  LIMIT #{start},#{pageSize} 
  </select>
</mapper>