<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.SystemDictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.SystemDictionary" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="com.xmg.p2p.base.domain.SystemDictionary" useGeneratedKeys="true" keyProperty="id" >
    insert into systemdictionary (sn, title)
    values (#{sn,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.xmg.p2p.base.domain.SystemDictionary" >
    update systemdictionary
    set sn = #{sn,jdbcType=VARCHAR},
      	title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  	<sql id="basecolumn">
  		id, sn, title
  	</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="basecolumn"/>
    from systemdictionary
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="basecolumn"/>
    from systemdictionary
  </select>
  
  <sql id="condition">
  	<where>
  		<if test="keyword!=null">
  			AND  (title like concat('%',#{keyword},'%') OR sn like concat('%',#{keyword},'%'))
  		</if>
  	</where>
  </sql>
  
  <select id="queryForCount" resultType="int">
  	select count(id) from systemdictionary
  	<include refid="condition"/>
  </select>
  
  	<select id="query" resultMap="BaseResultMap">
  		select <include refid="basecolumn"/> from systemdictionary
  		<include refid="condition"></include>
  		limit #{start},#{pageSize}
  	</select>
</mapper>