<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmg.p2p.base.mapper.UserinfoMapper" >
  <resultMap id="BaseResultMap" type="com.xmg.p2p.base.domain.Userinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="bitState" property="bitState" jdbcType="BIGINT" />
    <result column="realName" property="realName" jdbcType="VARCHAR" />
    <result column="idNumber" property="idNumber" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR" />
     <result column="score" property="score" jdbcType="INTEGER" />
    <association property="incomeGrade" javaType="com.xmg.p2p.base.domain.SystemDictionaryItem"
   				 column="incomeGrade_id" select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey">
    </association>
    <association property="marriage" javaType="com.xmg.p2p.base.domain.SystemDictionaryItem"
   				 column="marriage_id" select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey">
    </association>
    <association property="kidCount" javaType="com.xmg.p2p.base.domain.SystemDictionaryItem"
   				 column="kidCount_id" select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey">
    </association>
    <association property="educationBackground" javaType="com.xmg.p2p.base.domain.SystemDictionaryItem"
   				 column="educationBackground_id" select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey">
    </association>
    <association property="houseCondition" javaType="com.xmg.p2p.base.domain.SystemDictionaryItem"
   				 column="houseCondition_id" select="com.xmg.p2p.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey">
    </association>
  </resultMap>
  
  <insert id="insert" parameterType="com.xmg.p2p.base.domain.Userinfo"  >
    insert into 
    userinfo (id,version, bitState, realName,idNumber, phoneNumber,email, incomeGrade_id,score,
     		 marriage_id, kidCount_id, educationBackground_id, 
     		 houseCondition_id)
    values (#{id,jdbcType=BIGINT},#{version,jdbcType=INTEGER}, #{bitState,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR}, 
	      #{idNumber,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR}, #{incomeGrade.id,jdbcType=BIGINT}, #{score,jdbcType=INTEGER}
	      #{marriage.id,jdbcType=BIGINT}, #{kidCount.id,jdbcType=BIGINT}, #{educationBackground.id,jdbcType=BIGINT}, 
	      #{houseCondition.id,jdbcType=BIGINT})
  </insert>
  <!-- <sql id="updateCondition">
  	<trim></trim>
  </sql> -->
  <update id="updateByPrimaryKey" parameterType="com.xmg.p2p.base.domain.Userinfo" >
    update userinfo
    set 
      version =version+1,
      bitState = #{bitState,jdbcType=BIGINT},
      realName = #{realName,jdbcType=VARCHAR},
      idNumber = #{idNumber,jdbcType=VARCHAR},
      phoneNumber = #{phoneNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      incomeGrade_id = #{incomeGrade.id,jdbcType=BIGINT},
      marriage_id = #{marriage.id,jdbcType=BIGINT},
      kidCount_id = #{kidCount.id,jdbcType=BIGINT},
      educationBackground_id = #{educationBackground.id,jdbcType=BIGINT},
      houseCondition_id = #{houseCondition.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT} and version=#{version}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, version, bitState, realName, idNumber, phoneNumber,email, incomeGrade_id,score, marriage_id, 
    kidCount_id, educationBackground_id, houseCondition_id
    from userinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, version, bitState, realName, idNumber, phoneNumber, email,incomeGrade_id,score, marriage_id, 
    kidCount_id, educationBackground_id, houseCondition_id
    from userinfo
  </select>
  
</mapper>